@{
    ViewBag.Title = "Home Page";
}

<!-- Slider -->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h2>Auto transport to fill</h2>
                                    <h4>the truck space</h4>
                                    <!--
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                        -->
                                    <br/>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>Road Transport</p>
                                            
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>Water Transport</p>
                                            
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <p>Air Transport</p>
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Please prvoide your details for fast delivery product.
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <input type="tel" class="tel" name="tel1" placeholder="Email ID" required="">
                                            <input type="tel" class="tel" name="tel2" placeholder="Address" required="">
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>independent Carriers</h3>
                                    <h4>auto shipping</h4>
                                    <!--
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                     -->
                                    <br/>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>Road Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>Water Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <p>Air Transport</p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Please prvoide your details for fast delivery product.
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <input type="tel" class="tel" name="tel1" placeholder="Email ID" required="">
                                            <input type="tel" class="tel" name="tel2" placeholder="Address" required="">
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Streamer loads in</h3>
                                    <h4>large Carriers</h4>
                                    <!--
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                     -->
                                    <br/>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>Road Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>Water Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <p>Air Transport</p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Please prvoide your details for fast delivery product.
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <input type="tel" class="tel" name="tel1" placeholder="Email ID" required="">
                                            <input type="tel" class="tel" name="tel2" placeholder="Address" required="">
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>vehicles Transport</h3>
                                    <h4>Huge in collection</h4>
                                    <!--
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                        -->
                                    <br/>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>Road Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>Water Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <p>Air Transport</p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Please prvoide your details for fast delivery product.
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <input type="tel" class="tel" name="tel1" placeholder="Email ID" required="">
                                            <input type="tel" class="tel" name="tel2" placeholder="Address" required="">
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top4">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Goods Carrying Train</h3>
                                    <h4>Truck shipping</h4>
                                    <!--
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                     -->
                                    <br/>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>Road Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>Water Transport</p>

                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <p>Air Transport</p>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Please prvoide your details for fast delivery product.
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <input type="tel" class="tel" name="tel1" placeholder="Email ID" required="">
                                            <input type="tel" class="tel" name="tel2" placeholder="Address" required="">
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //Slider -->
<!-- bootstrap-modal-pop-up -->
<!--

    Mission Read more
-->
<div class="modal video-modal fade" id="myModalMission" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Our Mission
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="@Url.Content("~/images/bg4.jpg")" alt=" " class="img-responsive" />
                <p align="justify">
                    Royal Cargo Expres is providing value added services and increased level of services to our
                    valuable customer, further expand the business & improve the profitability. Enhanced customer
                    services & facilities of the sharing data & logistics information with other partners along
                    the supply chain. Real time visibility of shipment status and information to our customers & partners.
                </p>
            </div>
        </div>
    </div>
</div>

<!--

    Goal Read more
-->
<div class="modal video-modal fade" id="myModalGoal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Our Goal
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="@Url.Content("~/images/bg8.jpg")" alt=" " class="img-responsive" />
                <p align="justify">
                    We provide project shipping and global forwarding services through a network of national/international agents.
                    We make a point of simplifying our project solutions, finding the direct way, and making things as easy as possible for the customer.
                    We achieved what we promised & we do it on time. Team work with the client & developing a relationship focus on results.
                </p>
            </div>
        </div>
    </div>
</div>

<!--
   
    Vision Read more
-->
<div class="modal video-modal fade" id="myModalVision" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Our Vision
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="@Url.Content("~/images/bg7.jpg")" alt=" " class="img-responsive" />
                <p align="justify">
                    No cargo is too small or too large. Any mode of transport is available, sea, air, land or any combination.
                    Our logistics team provide tailor made value added services to fit your requirements. Eagle Express is large enough to
                    provide comprehensive services but small enough to adapt to our customers exact requirements.
                </p>
                <p align="justify">
                    Air Import/Export - Direct and consolidated services<br/>
                    
                        1. Online export import business<br/>
                        2. We develop a presence online and grow your business beyond your widest imagination<br/>
                        3. Ready to share your business expertise and capabilities and sell to the world.<br/>
                    
                </p>
            </div>
        </div>
    </div>
</div>
<!--
About us    
-->
<div class="modal video-modal fade" id="myModalAboutus" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                About Us
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p align="justify">
                    OSR Logistics Company Service providers since year 2007 offering customized & integrated solution
                    for Import Communication, Ocean Freight, Air Frieght, Custom Clearnace, Warehouse and Distribution
                    Logistics Provider, Supply chain management, Project & Break bulk cargo & etc.
                </p>
                <p align="justify">
                    We are one of the most familiar import and export having numerous branches across Pune so as to cater both
                    individual house-holds and industries with all packaging and moving services.
                    we use sturdy and reliable packing material which in turn will safeguard your goods
                    during the move with absolute zero damages all throughout the moving process. Our astonishing business expansion.
                </p>
                <p align="justify">
                    We are successfully provided and maintain our highest-level of quality service, cost effectiveness to our customers.
                    Our company has always concentrated in building a long term relationship with our customers.
                    A friendly voice, a prompt return call, the knowledge about what your requirements are, our first priority.
                </p>
            </div>
        </div>
    </div>
</div>
<!--
   Quality Policy 
-->
<div class="modal video-modal fade" id="myModalPolicy" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Quality Policy
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p align="justify">
                    Our operational excellence provides for the integrated
                    logistics solutions that we offer to our customers. The team of skilled professionals constantly monitors operational
                    performance by maintaining a PDCA(Plan/Do/Check/Action) cycle for continuous improvements.
                    We focus on the development of highly advanced logistics technology and the global training of personal.
                    By providing in-depth analyses of the transportation environment and of various other technical services, our
                    mission is to add critical value to our logistics solutions.
                </p>

                <p align="justify">
                    Our strong competitiveness relies on our proven track record of high quality operations,
                    a tradition maintained throughout our growing global network.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-modal-pop-up -->

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="col-md-7 bannerbottomleft">
        <div class="video-grid-single-page-agileits">
            <div data-video="d3q5mRA5djY" id="video"> <img src="@Url.Content("~/images/bg2.jpg")" alt="" class="img-responsive" /> </div>
        </div>
    </div>
    <div class="col-md-5 bannerbottomright">
        <h3>How Does We Work?</h3>
        <br/>
        <h4><i class="fa fa-taxi" aria-hidden="true"></i>International Transport Deliver System</h4>
        <h4><i class="fa fa-shield" aria-hidden="true"></i>Fast & Best Deliver Service</h4>
        <h4><i class="fa fa-ticket" aria-hidden="true"></i>Standard Courier value</h4>
        <h4><i class="fa fa-space-shuttle" aria-hidden="true"></i>Easy And Auto Shipping Service</h4>
        <h4><i class="fa fa-truck" aria-hidden="true"></i>Packaging & Storage</h4>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner-bottom -->

@Html.Partial("team")

<!-- Clients -->
<div class=" col-md-6 clients">
    <h3>Testimonials</h3>
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="client">
                        <img src="" alt="" />
                        <h5>Sachin</h5>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Royal cargo courier service is the best courier service I have seen till now, what they promise, they do.
                    <br/><br /></p>

                </li>
                <li>
                    <div class="client">
                        
                        <h5>Tanaji</h5>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Excellent customer service willing to go that extra mile. Couriers are delivered with commitment and with a sense of urgency each and every time.
                        <br /><br /></p>

                </li>
                <li>
                    <div class="client">
                        <h5>Ron Burgundy</h5>
                        <div class="clearfix"> </div>
                    </div>
                    <p>I wanted to personally thank you and your team for the great job you all did on helping us out of a bind on this air export.<br /><br /></p>

                </li>
                <li>
                    <div class="client">
                        
                        <h5>Somnath</h5>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Royal Cargo responded promptly to all of my requests and was wonderful to work with. The service they provided was great.<br /><br /></p>

                </li>
            </ul>
        </div>
    </section>
</div>
<!-- //Clients -->
<!-- Counter -->
<div class="col-md-6 services-bottom">
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-truck" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">1126</p>
            <h3>Transport vehicles</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-fighter-jet" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">180</p>
            <h3>International Service</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">10</p>
            <h3>Years Of Service</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">800</p>
            <h3>Happy clients</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
<!-- //Counter -->
<!-- our blog -->
<section class="blog" id="blog">
    <div class="container">
        <div class="heading">
        </div>
        <div class="blog-grids">
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModalMission"><img src="@Url.Content("~/images/bg4.jpg")" alt="" /></a>
                <h3><a href="#" data-toggle="modal" data-target="#myModalMission">Our Mission</a></h3>
                <p align="justify">Royal Cargo Expres is providing value added services and increased level of services to our
                valuable customer, further expand the business & improve the profitability. Enhanced customer
                services & facilities of the sharing data & logistics information with other partners along
                the supply chain. Real time visibility of shipment status and information to our customers & partners.</p>
                <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModalMission">Read More</a>
                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModalVision"><img src="@Url.Content("~/images/bg7.jpg")" alt="" /></a>
                <h3><a href="#" data-toggle="modal" data-target="#myModalVision">Our Vision</a></h3>
                <p align="justify">No cargo is too small or too large. Any mode of transport is available, sea, air, land or any combination. 
                Our logistics team provide tailor made value added services to fit your requirements. Eagle Express is large enough to
                provide comprehensive services but small enough to adapt to our customers exact requirements.
                 </p>
            <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModalVision">Read More</a>
                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModalGoal"><img src="@Url.Content("~/images/bg8.jpg")" alt="" /></a>
                <h3><a href="#" data-toggle="modal" data-target="#myModalGoal">Our Goal</a></h3>
                <p align="justify">We provide project shipping and global forwarding services through a network of national/international agents. 
                We make a point of simplifying our project solutions, finding the direct way, and making things as easy as possible for the customer. 
                We achieved what we promised & we do it on time. Team work with the client & developing a relationship focus on results.</p>
                <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModalGoal">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- //our blog -->